
/* style.css */
:root {
    --darkbg: #232224;
    --darkt: #dbd7db;
    --lightbg: #f4f3f3;
    --lightt: #141414;

    --toggleHeight: 16em;
    --toggleWidth: 30em;
    --toggleBtnRadius: 10em;

    --bgColor--night: #423966;
    --toggleBtn-bgColor--night: var(--bgColor--night);
    --mooncolor: #e8fafc;
    --bgColor--day: #9ee3fb;
    --toggleBtn-bgColor--day: var(--bgColor--day);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Geneva,
        Verdana, sans-serif;
    font-size: 13px;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll !important;
}

body {
    transition: all 0.2s ease-in-out;
    background: var(--darkbg);
    color: var(--darkt);
}

.light {
    background: var(--lightbg);
    color: var(--lightt);
}

.tdnn {
    margin: 0 auto;
    font-size: 15%;
    position: absolute;
    top: 6em;
    right: 15em;
    display: inline-block;
    height: var(--toggleHeight);
    width: var(--toggleWidth);
    border-radius: var(--toggleHeight);
    transition: all 500ms ease-in-out;
    background: var(--bgColor--night);
}

.day {
    background: #ffbf71;
}

.moon {
    position: absolute;
    display: block;
    border-radius: 50%;
    transition: all 400ms ease-in-out;

    top: 3em;
    left: 3em;
    transform: rotate(-75deg);
    width: var(--toggleBtnRadius);
    height: var(--toggleBtnRadius);
    background: var(--bgColor--night);
    box-shadow: 3em 2.5em 0 0em var(--mooncolor) inset,
        rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
        rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em,
        rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
        rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em,
        rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
        rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em,
        rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
        rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}

.sun {
    top: 4.5em;
    left: 18em;
    transform: rotate(0deg);
    width: 7em;
    height: 7em;
    background: #fff;
    box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff,
        3.5em -3.5em 0 -3em #fff, 5em 0 0 -2.7em #fff, 3.5em 3.5em 0 -3em #fff,
        0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff, -5em 0 0 -2.7em #fff,
        -3.5em -3.5em 0 -3em #fff;
}

p {
    margin: 0.3em 1em;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: hide;
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.1em;
    line-height: 1.3em;
}

th {
    top: 0;
    position: sticky !important;
    padding: 0.14em;
    box-sizing: border-box;
    color: #fff !important;
    height: 2em;
    background-color: #145a8d !important;
    border: 0em solid rgb(204, 204, 204);
    z-index: 1;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 8em;
    height: auto;
    max-height: 5em;
    padding: 0.14em;
    text-align: center;
    border: 0.0036em solid rgb(204, 204, 204);
}

table td:nth-child(1) {
    max-width: 14em;
    text-align: left;
    padding: 0 0.36em;
}

table td:nth-child(2) {
    max-width: 11em;
    text-align: left;
    padding: 0 0.36em;
}

table td:nth-child(3),
table td:nth-child(4),
table td:nth-child(5),
table td:nth-child(6),
table td:nth-child(7),
table td:nth-child(8) {
    max-width: 9em;
    text-align: left;
    padding-left: 0.33em;
    padding-top: 0.33em;
}

table td:nth-child(8) {
    max-width: 11em;
}

tr {
    border-bottom: 0.07em solid #ddd;
    padding: 0.36em;
    background: #fff0;
    background-image: linear-gradient(
        to right,
        #ffffff00,
        #ffffff00,
        #ffffff00,
        #ffffff00
    );
}

tr:hover {
    background: #fff0;
    background-image: linear-gradient(
        to right,
        #5ed0ff54,
        #55f5a84d,
        #37f99c54,
        #21b46d57
    );
    box-shadow: 0 0.14em 0.21em 0 rgba(4, 128, 123, 0.45);
    background-blend-mode: screen;
}

.hoverable {
    text-align: center;
    max-width: fit-content;
    margin: 0 auto;
}

.hoverable > .hoverable__tooltip {
    display: none;
    padding: 0.75em 0.75em;
    margin: 0.33em;
    background-color: darkcyan;
    border-radius: 15px;
    font-size: larger;
}

.light .hoverable > .hoverable__tooltip {
    background-color: mediumturquoise;
}

.hoverable > .hoverable__main {
    position: absolute;
    white-space: pre-line;
    color: black;
}

.hoverable.active > .hoverable__tooltip {
    display: inline;
    position: absolute;
    top: 2.5em;
    left: 10em;
    right: 10em;
    border: 0;
    z-index: 99;
    text-align: left;
}

h1 {
    text-align: center;
    font-size: 1.3em;
    color: #2980b9;
    margin: 0.36em 0 0.36em 0;
    position: relative;
    display: inline-block;
}

sup {
    text-align: center;
    font-size: 0.86em;
    color: black;
    margin: 0.36em 0 0.36em 0;
    position: relative;
    display: inline-block;
}

sup:hover {
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-shadow: 0.07em 0.07em 0.14em #888888;
}

.table-container {
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
    height: 89vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.1s ease, text-shadow 0.1s ease;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0 0 0.05em currentColor;
    color: var(--link-hover-color, #007bff);
}

footer {
    background-color: #d3d3d3;
    color: #000;
    padding: 0.3em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.dataTables_length {
    position: fixed;
    left: 20px;
    top: 16px;
    font-size: 1.2em;
}
.dataTables_filter {
    position: fixed;
    right: 200px;
    top: 16px;
    font-size: 1.2em;
}
.dataTables_filter input{
    width: 300px;
    height: 25px;
}
.dataTables_filter input:hover, .dataTables_wrapper .dataTables_length select{
    border: 2px solid #6c6c6c;
}

table td,
table th {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.twitter_color {
    color: #00acee !important;
}

.facebook_color {
    color: #4267b2 !important;
}

.instagram_color {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.youtube_color {
    color: #cd201f !important;
}

#content-table_paginate {
    text-align: center;
    float: none;
    width: 100%;
}

.link-text {
    display: inline;
}


/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 600px) {
    table {
        width: 100%;
        font-size: 0.8em !important;
    }

    td {
        padding: 0.5em 0.1em !important;
    }

    th {
        padding: 1em 0em !important;
    }

    
    .hoverable.active > .hoverable__tooltip {
        top: 2.5em !important;
        left: 1em !important;
        right: 1em !important;
    }

    table th:nth-child(1),
    table th:nth-child(4),
    table th:nth-child(5),
    table th:nth-child(6) {
        width: 5em;
    }

    .tdnn {
        font-size: 10%;
        top: 10em;
        right: 20em;
    }
    
    .dataTables_length, .dataTables_filter {
        position: static;
        font-size: 0.8em;
    }
    .dataTables_filter input{
        width: 250px;
        height: 25px;
    }

    footer {
        font-size: 0.8em;
    }

    .link-text {
        display: none;
    }

    table td:nth-child(3),
    table td:nth-child(4),
    table td:nth-child(5),
    table td:nth-child(6) {
        text-align: center;
    }

}
    